@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1E1E1E;
}

html,
body {
    background-color: var(--background);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 25s linear infinite;
}